.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(10, 2, 41);
}

h1 {
  margin: 0;
  color: antiquewhite;
}

.Calculator {
  min-width: 40%;
  max-height: 80%;
  background-color: rgb(24, 8, 59);
  border-radius: 15px;
}

.calculator-screen {
  height: 100px;
  width: 100%;
  background-color: black;
  text-align: right;
  color: white;
  font-size: 1.4em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Buttons button {
  height: 80px;
  width: 25%;
  background-color: rgb(42, 43, 85);
  color: antiquewhite;
  border: .3px solid rgb(24, 8, 59);
  filter: drop-shadow(1px 2px 5px black);
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
}

.Buttons button:hover{
  background-color: rgb(71, 72, 98);
}